body {
    font-family: Arial, Helvetica, sans-serif;
}

/* --- Style for check list items --- */
.list-item {
    font-size: 1.3rem;
}

/* A list item that has been completed. */
.list-item-checked {
    color: #919191;
    text-decoration: line-through;
}

.li-checkbox:checked {
    background-color: #198754;
}

.delete-icon {
    color: red;
    font-size: 1.7em;
    cursor: pointer;
}

/* Style for regular (non-priority) list items */
.non-priority-icon {
    color: yellow;
    font-size: 1.6em;
    cursor: pointer;
    stroke: black;
    stroke-width: 4px;
}

/* Style for priority list items */
.priority-icon {
    color: yellow;
    font-size: 1.6em;
    cursor: pointer;
    stroke: black;
    stroke-width: 4px;
}
/* ---------------------------------- */

